:root{
  --text-color:#4A6644;
  --link-color:#006699;
  --background-color:#8DAD85;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  
}



.banner h1{
  margin: 0;
  padding: 0;
  font-size:64px;
}

.banner p{
   margin: 0;
  padding: 0;
  font-size:32px;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0px;
}

header{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  background: #ccffcc;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap:500px;
  height: 50px;
  
  
}

nav .wala a{
  font-size: 24px;
  display: inline-block;
  transition: transform 0.6s ease;
  will-change: transform;
  transform-origin: left center;
}

nav .wala a:hover,
nav .wala a:focus{
  transform: scale(1.5);
}


nav .too a{
  color: var(--link-color);
  border: 2px solid transparent;
  padding: 0 10px;
  margin: 2px;
  font-weight: bold;
  border-radius: 20px 0;
  transition:5px ease-in-out;
  
}

nav .too a:hover{
  color:#4A6644;
  background-color:	 #39ac73;
}
.about{
  flex-direction: column !important;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 25px;
}
.about .kookaak{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
  

.about h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccffcc;
}

.about .kookaak img{
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
}

.about .kookaak .text h2{
font-weight: 600;
font-size: 24px;
}
.about .kookaak .text h3{
font-weight: 600;
font-size: 20px;
}

.text {
  text-align: center;
}

.text h2, .text h3, .text p{
  margin: 0;
}

.tools{
  height: 100vh;
  width: 100%;
  padding: 0;
}

.tools h1{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: #ccffcc;
  
}

.tools .Kookaak{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
  
}

.tools .Kookaak .kookaak{
  display: flex;
  align-items: center;
  width:200px;
  gap: 20px;
  border:2px solid  #39ac73;
  padding: 5px 8px;
  border-radius: 10px;
}

.tools .Kookaak .kookaak img{
  height: 80px;
  width:80px;
  border-radius: 10px;
  object-fit: contain;
}

.tools .Kookaak .kookaak span{
  font-size: 30px;
  font-weight: bold;
}

.project{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 3px ;

}
  .project h1{
    font-size:32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project .kookaak{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
  
  }
.project .kookaak span{
  font-size:32px;
  font-weight: bold;
}

.project .kookaak img{
  height: 150px;
  width: 150px;
  border: 2px solid #39ac73;
  border-radius:20px;
 margin-top: 20px;
}

.Contact{
  width:100%;
  position:sticky;
  height: 100vh;
}
.Contact h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px
}

.Contact .contact{
  width:80%;
  margin: 50px auto;
}
.contact .contact-box{
  display: flex;
  background: #D1DECE;
}
  
.contact .contact-box .handsome{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact .cute{
  flex-basis: 40%;
  padding: 40px ;
  background: #53c68c;
}
 .input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-side, .right-side {
  width: 48%; 
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 12px;
  flex-basis: 45%;
}

input {
  padding: 5px;
  width:100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
textarea{
  width:100%;
  border: 2px solid black;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
}
button{
  background: #678D5E;
  width:100px;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 5px 15px 0 rgba(153, 198, 142, 1);
}
.contact .contact-box .handsome h4{
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact .contact-box .cute h4{
  font-weight: 600px;
  margin-bottom: 30px;
}
tr td{
  padding: 20px;
  gap: 100px;
  
}


tr td a{
  font-size: 12px;
  color:#006699;
  flex-direction: column;
}

a{
  text-decoration: none;
}
  
.footer{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  font-size:20px;
  color:#141C12;
  font-style: italic;
}

.footer span{
  font-weight:bolder;
  font-style: italic;
}